<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>


<form action="/addFilms" method="post">
    <h1>Изменить фильм</h1>
    <u1 class="list-group">
        <li class="list-group-item"><input type="text" name="name" placeholder="Название фильма "/>
        </li>

        <li class="list-group-item"><input name="year" placeholder="Год"/>
        </li>

        <li class="list-group-item"><input name="world_premier" />
        </li>

        <li class="list-group-item"><input type="text" name="genre" placeholder="Жанр" />
        </li>

        <li class="list-group-item"><input type="text" name="plot"placeholder="Описание"/>
        </li>
    </u1>
    <button name="save" type="submit" class="btn btn-outline-success">Сохранить</button>

</form>
</body>
</html>



